.container
	.six.columns.offset-by-five
		.card
			%div
				%p
					= @thing.strategy
	.six.columns.offset-by-five.footer
		%p 
			edition
			= @thing.edition.to_s + ", "
			card
			= "#" + @thing.cardnumber.to_s
		%p 
			%a{:href => "/info"} 
				information / credits
		%p 
			edition: <a href="/">all</a> <a href="/edition/1">1</a> <a href="/edition/2">2</a> <a href="/edition/3">3</a> <a href="/edition/4">4</a>