.container
	.six.columns.offset-by-five
		.card
			%div
				%p
					= @thing.strategy
	.six.columns.offset-by-five.footer
		%p 
			edition
			= @thing.edition.to_s + ", "
			card
			= "#" + @thing.cardnumber.to_s
		%p 
			%a{:href => "/info"} 
				information / credits
		%p 
			edition:
			%a{:href => "/card"} 
				all
			|
			%a{:href => "/edition/1/card"} 
				1
			|
			%a{:href => "/edition/2/card"} 
				2
			|
			%a{:href => "/edition/3/card"} 
				3
			|
			%a{:href => "/edition/4/card"} 
				4