%h1 Oblique Strategies JSON API
%p
	This is a JSON API to deliver 
	%a{:href => "http://en.wikipedia.org/wiki/Brian_Eno"} Brian Eno's
	%a{:href => "http://en.wikipedia.org/wiki/Oblique_Strategies"} Oblique Strategies.
%h2 Example queries
%ul 
	%li
		%a{:href => "/all"} /all
	%li
		%a{:href => "/draw"} /draw
	%li
		%a{:href => "/edition/3/all"} /edition/3/all
	%li
		%a{:href => "/edition/3/draw"} /edition/3/draw
	%li
		%a{:href => "/edition/3/cardnumber/5"} /edition/3/cardnumber/5
	%li
		%a{:href => "/id/9"} /id/9
%h2 Credits
	%p
		Data from
		%a{:href => "http://www.rtqe.net/ObliqueStrategies/"} The Oblique Strategies Website
	%p 
		API made with
		%a{:href => "http://www.sinatrarb.com/"} Sinatra
		by
		%a{:href => "http://monks.co"} Andrew Monks
	%p 
		Hosted with
		%a{:href => "https://www.heroku.com"} Heroku