%h1 Oblique Strategies JSON API
%p
	This is a JSON API to deliver Brian Eno's Oblique Strategies.
%h2 Example inputs
%ul 
	%li
		%a{:href => "/all"} /all
	%li
		%a{:href => "/draw"} /draw
	%li
		%a{:href => "/edition/3/all"} /edition/3/all
	%li
		%a{:href => "/edition/3/draw"} /edition/3/draw
	%li
		%a{:href => "/edition/3/cardnumber/5"} /edition/3/cardnumber/5
	%li
		%a{:href => "/id/9"} /id/9