.container
	.ten.columns.content
		%h1 Oblique Strategies API
		%p 
			<a href="http://brianeno.needsyourhelp.org">The Oblique Strategies JSON API</a> brings <a href="http://en.wikipedia.org/wiki/Brian_Eno">Brian Eno</a> and <a href="http://en.wikipedia.org/wiki/Peter_Schmidt_(artist)">Peter Schmidt&#8127;s</a> classic Oblique Strategies to the internet.
		%p 
			First published in 1975, the <a href="http://en.wikipedia.org/wiki/Oblique_Strategies">Oblique Strategies</a> are a collection of brief aphorisms meant to stimulate creativity. Such as &ldquo;Give way to your worst impulse,&rdquo; &ldquo;Question the heroic approach,&rdquo; and &ldquo;Work at a different speed.&rdquo;
		%p 
			By making these strategies accessible in a machine-readable form, the Oblique Strategies JSON API makes it possible for programmers to readily include these Oblique Strategies in their work.
		%p 
			More subtly, it addresses a conversation about machine creativity. How might a computer&#8127;s creativity resemble human creativity? What happens when a computer gets writers block? Would a computer consult the Oblique Strategies?
		%h2 Example queries
		%ul 
			%li
				%a{:href => "/"} /
				&mdash; Draw one random card to HTML.
			%li
				%a{:href => "/edition/1/card"} /edition/1/card
				&mdash; Draw one random first edition card to HTML.
			%li
				%a{:href => "/all"} /all
				&mdash; All cards to JSON.
			%li
				%a{:href => "/draw"} /draw
				&mdash; Draw one card to JSON.
			%li
				%a{:href => "/edition/3/all"} /edition/3/all
				&mdash; All third edition cards to JSON.
			%li
				%a{:href => "/edition/3/draw"} /edition/3/draw
				&mdash; Draw one random third edition card to JSON.
			%li
				%a{:href => "/edition/3/cardnumber/5"} /edition/1/cardnumber/5
				&mdash; First card from the first edition to JSON.
			%li
				%a{:href => "/id/9"} /id/9
				&mdash; Card with id of 9 to JSON.
	.five.columns.offset-by-one.sidebar		
		%h2 Credits
		%p 
			Oblique Strategies by 
			%a{:href => "http://en.wikipedia.org/wiki/Brian_Eno"} Brian Eno
			and
			%a{:href => "http://en.wikipedia.org/wiki/Peter_Schmidt_(artist)"} Peter Schmidt
		%p
			Data from
			%a{:href => "http://www.rtqe.net/ObliqueStrategies/"} The Oblique Strategies Website
		%p 
			API made with
			%a{:href => "http://www.sinatrarb.com/"} Sinatra
			by
			%a{:href => "http://monks.co"} Andrew Monks
		%p 
			Hosted with
			%a{:href => "https://www.heroku.com"} Heroku
		%p 
			Code on
			%a{:href => "https://github.com/andrewjmonks/oblique-strategies-api"} Github