%h1 Oblique Strategies JSON API
%p
	This is a JSON API to deliver Brian Eno's Oblique Strategies.
%h2 Example inputs
%ul 
	%li /all
	%li /draw
	%li /edition/3/all
	%li /edition/3/draw
	%li /edition/3/cardnumber/5