.container {
	padding-top: 60px;
}

h1, h2 {
	margin-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
	font-weight: bold;
}

.card {
	background-color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

.card {
	display: inline-block;
	position: relative;
	width: 100%;
}

.card:after {
	margin-top: 73.33%;
    content: '';
    display: block;
}

.card div {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
	border: 1px solid #000;
	border-radius: 15px;
	color: #000000;
}

.card p {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	height: 10%;
	padding-left: 5%;
	padding-right: 5%;
}

.footer {
	padding-top: 10%;
	bottom: 0;
	font-size: .9em;
}